*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Winky Rough';
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 56% 18%;
}
#fs{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #dadada;
    z-index: 5;
}
#elem1{
    width: 100%;
    position: absolute;
    top: 100%;
    height: 0vh;
    background-color: rgb(241, 79, 30);
    z-index: 5;
}
#elem2{
    width: 100%;
    position: absolute;
    top: 100%;
    height: 0vh;
    background-color: rgb(22, 21, 21);
    z-index: 5;   
}

#left-top-left{
    padding: 40px;
    grid-column: 1/2;
}
#square{
    height: 20px;
    width: 20px;
    background-color: black;
    rotate: 45deg;
}


#left-top-right{
    padding: 40px;
    justify-self: right;
    text-align: right;
    color: rgba(13, 12, 12, 0.807);
}

#left-top-right h4{
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 15px;
}
#left-top-right h5{
    font-weight: 400;
    font-size: 13px;
}
#left-top-right h6{
    display: none;
}
#left-center{
    grid-column: 1 / 3;
    padding-left: 40px;
    padding-top: 30px;
}
#left-center h1{
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 6vw;
    font-weight: 500;
}
#left-center h1:nth-child(2n){
    text-align: center;
}
#line::after{
    content: "";
    display: inline-block;
    width: 150px;
    height: 5px;
    background-color: black;
    margin-left: 10px;          
    vertical-align: middle;    
}
#left-bottom{
    grid-column: 1 / 3;
    padding: 40px;
}
#left-bottom p{
    width:70%;
    color: rgba(13, 12, 12, 0.807);
}
#right{
    grid-row: 1 / 4;
    grid-column: 3;
    padding: 40px;
    padding-right: 150px;
}
#right video{
    object-fit: cover;
}
#right i{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 20px;
    transform: rotate(90deg);
}

#arrow{
    position: absolute;
    top: 49%;
    left: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    transform: translate(-50%,-50%);
    padding:20px;
    border-radius: 50%;
}
#arrow i{
    font-size: 40px;
    font-weight: 100;
    color: white;
}

@media (max-width:600px){
    #main{
        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 34% 8%;
    }
    #left-top-left{
        padding: 20px;
    }
    #square{
        height: 12px;
        width: 12px;
    }
    #left-top-right{
        padding: 20px;
    }

    #left-top-right h4{
        display: none;
    }
    #left-top-right h5{
        display: none;;
    }
    #left-top-right h6{
        display: initial;
        font-size: 20px;
        padding:10px;
    }
    #left-center{
        padding:10px 20px;
    }
    #left-center h1{
        font-size: 16vw;
        line-height: 13vw;
    }
    #left-center h1:nth-child(2n){
    text-align: right;
    }
    #line::after{
        width: 25px; 
    }
    #left-bottom{
        padding:0px 20px;
    }
    #left-bottom p{
        width:90%;
        font-size: 10px;
    }
    
    #right i{
        display: none;
    }

    #arrow{
        top: 55%;
        left: 40%;
        padding:10px;
        rotate: 90deg;
    }
    #arrow i{
        font-size: 20px;
    }
    #right{
        grid-row: 4;
        grid-column: 1 /4;
        padding: 20px;
        padding-right: 20px;
    }
    #right video{
        height: 45vh;
    }
}